* {
    background-color: rgba(255, 255, 255, 0.658);
}

.pic {
    width: 100px;
    margin-top: 2vh;
    margin-left: 5vw;
}

.things {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.icons {
    font-size: 25px;
    display: flex;
    gap: 30px;
    position: absolute;
    top: 7%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.foto {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.photo {
    width: 600px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.foto1 {
    position: absolute;
    top: 105%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
}

.photo1 {
    width: 150px;
    border-radius: 20px;
}

.tituto {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.tilo {
    font-size: 40px;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
}

.tito {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
}